[submodule "thirdparty/bgfx.cmake"]
	path = thirdparty/bgfx.cmake
	url = https://github.com/bkaradzic/bgfx.cmake.git
[submodule "thirdparty/EASTL"]
	path = thirdparty/EASTL
	url = https://github.com/electronicarts/EASTL.git
[submodule "thirdparty/EABase"]
	path = thirdparty/EABase
	url = https://github.com/electronicarts/EABase.git
