[submodule "3rdparty/microsoft-gsl"]
	path = 3rdparty/microsoft-gsl
	url = https://github.com/microsoft/GSL.git
[submodule "3rdparty/stb-cmake"]
	path = 3rdparty/stb-cmake
	url = https://github.com/gracicot/stb-cmake.git
[submodule "3rdparty/blink"]
	path = 3rdparty/blink
	url = https://github.com/jart/blink.git
